/***************************************************
Add your Google Fonts
Update ALL the named colours to create a monochromatic scheme
Style the menus - one horizontally and one vertically
Add the hover/active effects to your menu items
***************************************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    line-height: 1.6;
    /* ADD the Google sans-serif font to this font stack */
    font-family: helvetica, arial, sans-serif;
}
html, body{
    background-color: #4CD9FF;
}
h1{
    font-size: 6.854rem;
	
    /* ADD the Google serif font to this font stack */
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif; 
    padding: 1rem 2rem;
}
h2{
    font-size: 4.23rem;
    /* ADD the Google serif font to this font stack */
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    padding: 1rem 2rem;
}
nav li{
    font-size: 2.618rem;
}
p{
    font-size: 1.618rem;
    padding: 1rem 2rem;
}
.wrapper{
    max-width: 1400px; 
    width: 80%;
    margin: 0 auto;
    background-color: #00FF72;
    color: #527F6E;
}
header{
    border-bottom: 0.8rem solid khaki;
    background-color: #FF7596;
    color: #007F06;
}
.menu-h{
    width: 100%;
}
    .menu-h li{display:inline;
	width: 20%;
        /* style the list items to remove the bullets 
        and line up horizontally
        and take up 20% of the width of the ul */
    }
        .menu-h a,
        .menu-h a:link,
        .menu-h a:visited{display:inline-block;
            /* style the anchors to fill the entire width of the li 
            make sure there is padding around your text */
        }
        .menu-h a:hover {background-color:#FFD000;},
        .menu-h a:active{
            
        }
.menu-v{
    width: 20%;
    float:left;
}
    .menu-v li{font-style:inline;
	display:block; width: 100%}
        /* style the list items to remove the bullets 
        and line up vertically
        and take up 100% of the width of the ul */
    
        .menu-v a,
        .menu-v a:link,
        .menu-v a:visited{display:block;
            /* style the anchors to fill the entire width of the li */
        }
        .menu-v a:hover{background-color:#00FFCD;},
        .menu-v a:active{
            
        }
main{
    width:80%;
    float: right;
}
footer{
    clear:both;
}